# Olist Dataset

This notebook is used to prepare the olist dataset for ingestion into the streamlit app, to apply customer segmentation and customer lifetime value (CLV) prediction.

The dataset can be found here: *https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce?resource=download*

In [1]:
import pandas as pd
import numpy as np

## Data Ingestion

In [14]:
orders_dataset = pd.read_csv('../data/olist_orders_dataset.csv')
orders_dataset = orders_dataset[["order_id", "customer_id", "order_purchase_timestamp"]]

In [15]:
orders_dataset.head(2)

,order_id,customer_id,order_purchase_timestamp
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37

In [16]:
payments_dataset = pd.read_csv('../data/olist_order_payments_dataset.csv')
payments_dataset = payments_dataset[["order_id", "payment_value"]]

In [17]:
payments_dataset.head(2)

                           order_id  payment_value
0  b81ef226f3fe1789b1e8b2acac839d17          99.33
1  a9810da82917af2d9aefd1278f1dcfa0          24.39

In [18]:
dataframe = pd.merge(orders_dataset, payments_dataset, on= "order_id", how = "inner")

In [20]:
dataframe.drop("order_id", axis= 1, inplace= True)

In [21]:
dataframe.head()

                        customer_id order_purchase_timestamp  payment_value
0  9ef432eb6251297304e76186b10a928d      2017-10-02 10:56:33          18.12
1  9ef432eb6251297304e76186b10a928d      2017-10-02 10:56:33           2.00
2  9ef432eb6251297304e76186b10a928d      2017-10-02 10:56:33          18.59
3  b0830fb4747a6c6d20dea0b8c802d7ef      2018-07-24 20:41:37         141.46
4  41ce2a54c0b03bf3443c3d931a367089      2018-08-08 08:38:49         179.12